# How to use
Explains how it is used in classification questions.

## install
Run the following code in the environment where you want to INSTALL nb_sisso

In [14]:
#!pip install git+https://github.com/souno1218/nb_sisso.git

## Data preparation

First, create (random) data.   
At this time, the initial features are `a~f` with 6 types (`n_features=6`), the number of samples is 220 (`n_samples=220`) and the target variable is `target`.   
The target variable is also binary and `[True,False]`.

In [15]:
import numpy as np
import pandas as pd
rng = np.random.default_rng()
x=rng.random((6,220))
y=rng.choice((True,False),220)
columns=[f"{chr(i + 97)}" for i in range(x.shape[0])]
index=[f"sample_{i}" for i in range(x.shape[1])]
df=pd.DataFrame(x.T,columns=columns,index=index)
df["target"]=y
df.head()

                 a         b         c         d         e         f  target
sample_0  0.921883  0.497861  0.948289  0.985947  0.808652  0.760885   False
sample_1  0.678842  0.154782  0.260950  0.419566  0.531651  0.746601   False
sample_2  0.651391  0.767856  0.295795  0.610600  0.676014  0.810512    True
sample_3  0.792191  0.519502  0.713539  0.402951  0.414618  0.164235    True
sample_4  0.317687  0.688351  0.715291  0.443022  0.795014  0.496883   False

Let the system of units be `{a: ‘m/s’, b: ‘m^2’, c: ‘m/s^2’, d: ‘a.u.’, e: ‘m’, f: ‘a.u.’}` respectively.   
Since there are two unit systems at this time, create an ndarray whose shape is `(n_features,2)` as follows.   
At this time, dtype must be int64.

In [16]:
units=np.zeros((x.shape[0],2),dtype="int64")
units[0,0] = 1  # a:    "m"
units[0,1] = -1 # a:   "/s"
units[1,0] = 2  # b:  "m^2"
units[1,1] = 0  # b: "no s"
units[2,0] = 1  # c:    "m"
units[2,1] = -2 # c: "/s^2"
units[3,0] = 0  # d: "no m"
units[3,1] = 0  # d: "no s"
units[4,0] = 1  # e:    "m"
units[4,1] = 0  # e: "no s"
units[5,0] = 0  # f: "no m"
units[5,1] = 0  # f: "no s"
units_df=pd.DataFrame(units.T,columns=columns,index=["m","s"])
units_df

   a  b  c  d  e  f
m  1  2  1  0  1  0
s -1  0 -2  0  0  0

The SHAPE of each array should be looked at.

In [17]:
print(f"x.shape={x.shape}, y.shape={y.shape}, units.shape={units.shape}")

x.shape=(6, 220), y.shape=(220,), units.shape=(6, 2)

## SIS

Determine which operator to use. The following can be used.   
`["+","-","*","/","*-1","**-1","**2","sqrt","| |","**3","cbrt","**6","exp","exp-","log","sin","cos"]`

In [18]:
operators_to_use=["+","-","*","/","**2","| |","**3"]

Determine the model_score: we have made various ones for binary classification, but no multi-level classification or regression at the moment.   
If you know python, you can create an original one with some ease, as long as it takes only `x,y` as an argument and returns two float64 values like above.

In [19]:
from nb_sisso.model_score_1d import Hull_1d
model_score=Hull_1d

Run SIS. You can then set `is_use_1` to include `np.ones(n_samples)` as an initial feature.   
Even if `is_use_1 = True`, there is no need to add `np.ones(n_samples)` to `x`.   
In this case, the number of saves is 5000 (`how_many_to_save=5000`), the maximum number of operators is 4 (`max_n_op=4`) and `is_use_1=True`.   
The first time it is run, it is compiled, so it is slow to start working.   
There are several optional arguments, see nb_SO.py.   

Translated with www.DeepL.com/Translator (free version)

In [20]:
from nb_sisso import SIS
score,eq=SIS(x,y,model_score=model_score,units=units,how_many_to_save=5000,is_use_1=True,max_n_op=4,operators_to_use=operators_to_use)

2024-10-23 15:17:33,074 SIS [INFO] : numba=0.60.0, numpy=2.0.2
2024-10-23 15:17:33,075 SIS [INFO] : OPT=_OptLevel(3), THREADING_LAYER=default
2024-10-23 15:17:33,075 SIS [INFO] : USING_SVML=False, ENABLE_AVX=True, DISABLE_JIT=0
2024-10-23 15:17:33,075 SIS [INFO] : SIS
2024-10-23 15:17:33,076 SIS [INFO] : num_threads=8, how_many_to_save=5000,
2024-10-23 15:17:33,077 SIS [INFO] : how_many_to_save_per_1_core=5000,
2024-10-23 15:17:33,077 SIS [INFO] : max_n_op=4, model_score=Hull_1d,
2024-10-23 15:17:33,077 SIS [INFO] : x.shape=(6, 220), is_use_1=True
2024-10-23 15:17:33,077 SIS [INFO] : use_binary_op=[-1, -2, -3, -4],
2024-10-23 15:17:33,078 SIS [INFO] : use_unary_op=[-7, -9, -10]
2024-10-23 15:17:33,078 SIS [INFO] : units=[ 1 -1] , [2 0] , [ 1 -2] , [0 0] , [1 0] , [0 0]
2024-10-23 15:17:33,078 SIS [INFO] : compiling
2024-10-23 15:17:33,082 SIS [INFO] : END, compile
2024-10-23 15:17:33,083 SIS [INFO] :   n_op=1
2024-10-23 15:17:33,083 SIS [INFO] :     binary_op n_op1:n_op2 = 0:0,  loop:49
2024-10-23 15:17:33,086 SIS [INFO] :       time : 0:00:00.002546
2024-10-23 15:17:33,086 SIS [INFO] :     unary_op,  loop:7
2024-10-23 15:17:33,088 SIS [INFO] :       time : 0:00:00.001599
2024-10-23 15:17:33,088 SIS [INFO] :     END, time=0:00:00.005403
2024-10-23 15:17:33,088 SIS [INFO] :   n_op=2
2024-10-23 15:17:33,088 SIS [INFO] :     binary_op n_op1:n_op2 = 0:1,  loop:532
2024-10-23 15:17:33,094 SIS [INFO] :       time : 0:00:00.005006
2024-10-23 15:17:33,094 SIS [INFO] :     binary_op n_op1:n_op2 = 1:0,  loop:532
2024-10-23 15:17:33,099 SIS [INFO] :       time : 0:00:00.005200
2024-10-23 15:17:33,100 SIS [INFO] :     unary_op,  loop:76
2024-10-23 15:17:33,103 SIS [INFO] :       time : 0:00:00.002804
2024-10-23 15:17:33,103 SIS [INFO] :     END, time=0:00:00.014931
2024-10-23 15:17:33,103 SIS [INFO] :   n_op=3
2024-10-23 15:17:33,104 SIS [INFO] :     binary_op n_op1:n_op2 = 0:2,  loop:5537
2024-10-23 15:17:33,122 SIS [INFO] :       time : 0:00:00.018764
2024-10-23 15:17:33,123 SIS [INFO] :     binary_op n_op1:n_op2 = 1:1,  loop:5776
2024-10-23 15:17:33,135 SIS [INFO] :       time : 0:00:00.011560
2024-10-23 15:17:33,135 SIS [INFO] :     binary_op n_op1:n_op2 = 2:0,  loop:5537
2024-10-23 15:17:33,152 SIS [INFO] :       time : 0:00:00.016782
2024-10-23 15:17:33,153 SIS [INFO] :     unary_op,  loop:791
2024-10-23 15:17:33,164 SIS [INFO] :       time : 0:00:00.010960
2024-10-23 15:17:33,164 SIS [INFO] :     END, time=0:00:00.060788
2024-10-23 15:17:33,164 SIS [INFO] :   n_op=4
2024-10-23 15:17:33,165 SIS [INFO] :     binary_op n_op1:n_op2 = 0:3,  loop:68061
2024-10-23 15:17:33,282 SIS [INFO] :       time : 0:00:00.116963
2024-10-23 15:17:33,282 SIS [INFO] :     binary_op n_op1:n_op2 = 1:2,  loop:60116
2024-10-23 15:17:33,374 SIS [INFO] :       time : 0:00:00.091435
2024-10-23 15:17:33,375 SIS [INFO] :     binary_op n_op1:n_op2 = 2:1,  loop:60116
2024-10-23 15:17:33,441 SIS [INFO] :       time : 0:00:00.066557
2024-10-23 15:17:33,442 SIS [INFO] :     binary_op n_op1:n_op2 = 3:0,  loop:68061
2024-10-23 15:17:33,603 SIS [INFO] :       time : 0:00:00.161049
2024-10-23 15:17:33,604 SIS [INFO] :     unary_op,  loop:9723
2024-10-23 15:17:33,669 SIS [INFO] :       time : 0:00:00.064845
2024-10-23 15:17:33,669 SIS [INFO] :     END, time=0:00:00.504614
2024-10-23 15:17:33,674 SIS [INFO] : total time=0:00:00.590886

There are two return values, `score,eq`. The shape of `score` is `(how_many_to_save,2)`, corresponding to `eq`.   
The dim2 is 2 because there are two `score`s.   
The shape of `eq` is `(how_many_to_save,2*max_n_op+1)`, which is an array of formulas and cannot be read as such.   
It can be read by putting it into the `decryption` function.

In [21]:
from nb_sisso.utils import decryption
decryption(eq[0])

'((((1-f)/a)/b)*c)'

In [22]:
df_SIS_ans=pd.DataFrame()
str_eq=[decryption(eq[i]) for i in range(eq.shape[0])]
df_SIS_ans["score1"]=score[:,0]
df_SIS_ans["score2"]=score[:,1]
df_SIS_ans["str_eq"]=str_eq
df_SIS_ans.head()

     score1      score2             str_eq
0  0.090909   -9.205452  ((((1-f)/a)/b)*c)
1  0.090909 -101.158127  (((a/(1-f))*b)/c)
2  0.086364   -2.659392  ((((b*f)-b)*e)/a)
3  0.086364  -41.124011  ((((b/f)-b)*c)*e)
4  0.086364 -116.164626  (((a/(1-f))/b)/e)

## SO

All combinations of two of the `how_many_to_save` SIS results are done and the one with the highest score is chosen.

Create features for SO from the SIS results: put the `x` used in SIS and the SIS return value `eq` into `eq_list_to_num`, which will return the features calculated according to `eq`.   
In SIS, the features need to be a list, so change them to a list.

In [23]:
from nb_sisso.utils import eq_list_to_num
X=eq_list_to_num(x,eq)
list_x=[X]

Determine the model_score: we have made various ones for binary classification, but no multi-level classification or regression at the moment.   
If you know python, you can create an original one with some ease, as long as it takes only `x,y` as an argument and returns two float64 values like above.

In [24]:
from nb_sisso.model_score_2d import Hull_2d
model_score=Hull_2d

Run SO. See nb_SO.py for the detailed role of `which_arr_to_choose_from`.   
The `combination_dim` is how many combinations to choose from the `how_many_to_save` pieces.   
There are several optional arguments, see nb_SO.py.

In [25]:
from nb_sisso import SO
score_list,index_list=SO(list_x,y,model_score=model_score,which_arr_to_choose_from={1:0,2:0},combination_dim=2)

2024-10-23 15:17:33,757 SO [INFO] : numba=0.60.0, numpy=2.0.2
2024-10-23 15:17:33,758 SO [INFO] : OPT=_OptLevel(3), THREADING_LAYER=default
2024-10-23 15:17:33,758 SO [INFO] : USING_SVML=False, ENABLE_AVX=True, DISABLE_JIT=0
2024-10-23 15:17:33,758 SO [INFO] : SO
2024-10-23 15:17:33,758 SO [INFO] : num_threads=8, how_many_to_save=50,
2024-10-23 15:17:33,759 SO [INFO] : combination_dim=2, model_score=Hull_2d,
2024-10-23 15:17:33,759 SO [INFO] : which_arr_to_choose_from={1: 0, 2: 0}
2024-10-23 15:17:33,759 SO [INFO] : loop=12497500
2024-10-23 15:17:33,759 SO [INFO] : compiling
2024-10-23 15:17:33,760 SO [INFO] : END, compile
2024-10-23 15:17:43,764 SO [INFO] :     513089/12497500  0:00:10.003461 : 0:03:53.654567
2024-10-23 15:17:53,775 SO [INFO] :    1018706/12497500  0:00:20.014311 : 0:03:45.521547
2024-10-23 15:18:03,783 SO [INFO] :    1552003/12497500  0:00:30.023081 : 0:03:31.737698
2024-10-23 15:18:13,794 SO [INFO] :    1993113/12497500  0:00:40.034067 : 0:03:30.993222
2024-10-23 15:18:23,810 SO [INFO] :    2517289/12497500  0:00:50.049980 : 0:03:18.431472
2024-10-23 15:18:33,821 SO [INFO] :    3039508/12497500  0:01:00.060198 : 0:03:06.888428
2024-10-23 15:18:43,829 SO [INFO] :    3564395/12497500  0:01:10.069051 : 0:02:55.607414
2024-10-23 15:18:53,843 SO [INFO] :    4033911/12497500  0:01:20.082420 : 0:02:48.021726
2024-10-23 15:19:03,860 SO [INFO] :    4523690/12497500  0:01:30.099719 : 0:02:38.816816
2024-10-23 15:19:13,871 SO [INFO] :    5019940/12497500  0:01:40.110816 : 0:02:29.122227
2024-10-23 15:19:23,878 SO [INFO] :    5546875/12497500  0:01:50.118215 : 0:02:17.985878
2024-10-23 15:19:33,896 SO [INFO] :    6050165/12497500  0:02:00.135765 : 0:02:08.022215
2024-10-23 15:19:43,912 SO [INFO] :    6556233/12497500  0:02:10.151449 : 0:01:57.943415
2024-10-23 15:19:53,955 SO [INFO] :    7049924/12497500  0:02:20.194489 : 0:01:48.330265
2024-10-23 15:20:03,970 SO [INFO] :    7518369/12497500  0:02:30.210068 : 0:01:39.478438
2024-10-23 15:20:13,981 SO [INFO] :    7999322/12497500  0:02:40.221015 : 0:01:30.095466
2024-10-23 15:20:23,997 SO [INFO] :    8481419/12497500  0:02:50.236730 : 0:01:20.609683
2024-10-23 15:20:34,020 SO [INFO] :    8943367/12497500  0:03:00.259377 : 0:01:11.635862
2024-10-23 15:20:44,039 SO [INFO] :    9381474/12497500  0:03:10.278814 : 0:01:03.200488
2024-10-23 15:20:54,052 SO [INFO] :    9794110/12497500  0:03:20.291572 : 0:00:55.284884
2024-10-23 15:21:04,059 SO [INFO] :   10198806/12497500  0:03:30.298275 : 0:00:47.398821
2024-10-23 15:21:14,068 SO [INFO] :   10564823/12497500  0:03:40.307806 : 0:00:40.302032
2024-10-23 15:21:24,090 SO [INFO] :   10942676/12497500  0:03:50.329044 : 0:00:32.727015
2024-10-23 15:21:34,196 SO [INFO] :   11260802/12497500  0:04:00.435732 : 0:00:26.405436
2024-10-23 15:21:44,211 SO [INFO] :   11676449/12497500  0:04:10.451096 : 0:00:17.610930
2024-10-23 15:21:54,241 SO [INFO] :   12083680/12497500  0:04:20.480382 : 0:00:08.920461
2024-10-23 15:22:04,249 SO [INFO] :   12489019/12497500  0:04:30.488796 : 0:00:00.183683
2024-10-23 15:22:04,878 SO [INFO] :   END : time=0:04:31.118004
2024-10-23 15:22:04,879 SO [INFO] : best : score=[0.5 0. ],index=[1854 1044]

The return values are score and index, where index is the index of the incoming list_x.

In [27]:
arr_columns=np.array([decryption(eq[i]) for i in range(eq.shape[0])])
df_ans=pd.DataFrame(columns=["score1","score2","data_x","data_y"])
df_ans["score1"]=score_list[:,0]
df_ans["score2"]=score_list[:,1]
df_ans["data_x"]=arr_columns[index_list[:,0]]
df_ans["data_y"]=arr_columns[index_list[:,1]]
df_ans

      score1  score2                data_x                data_y
0   0.500000     0.0   (((c/f)/(b**3))**3)   (d/(((b*b)**2)**3))
1   0.500000     0.0   (((f/(b**3))**3)/e)   (((c/(b**3))**3)/d)
2   0.500000     0.0   (d/((a*(b**3))**3))   ((((c/b)/b)**2)**3)
3   0.500000     0.0   (((f/(b**3))**3)/e)   (e*((c/(b**3))**3))
4   0.500000     0.0   (((f/(b**3))**3)/e)   (e/(((b**3)/c)**3))
5   0.500000     0.0   (((f/(b**3))**3)/e)   (a/(((b**3)/c)**3))
6   0.500000     0.0   (((c/f)/(b**3))**3)   (d/(((b*b)**3)**2))
7   0.500000     0.0   (((c/f)/(b**3))**3)   (d/((b*(b**3))**3))
8   0.500000     0.0   (((c/f)/(b**3))**3)  (d/(((b**3)**2)**2))
9   0.500000     0.0   ((d/a)/((b**3)**3))   (1/(((b**3)/c)**3))
10  0.500000     0.0   ((((c/b)**3)**3)/f)   ((c/b)/((b**3)**3))
11  0.500000     0.0  ((d/((b**3)**3))**3)   ((((c/b)**2)/f)**3)
12  0.500000     0.0   ((d/a)/((b**3)**3))   (((c/(b**3))**3)/e)
13  0.500000     0.0   ((d/a)/((b**3)**3))       ((c/(b**3))**3)
14  0.500000     0.0   ((d/a)/((b**3)**3))   (((c/(b**3))**3)/d)
15  0.500000     0.0   ((d+f)/((b**3)**3))   (((c/(b**3))**3)/d)
16  0.500000     0.0   ((d/a)/((b**3)**3))   (((c/d)/(b**3))**3)
17  0.500000     0.0   ((d/a)/((b**3)**3))   (((c+c)/(b**3))**3)
18  0.500000     0.0   ((d/a)/((b**3)**3))   ((((c/b)**3)/f)**3)
19  0.500000     0.0   ((d/a)/((b**3)**3))   ((c*((1/b)**3))**3)
20  0.500000     0.0   ((d/a)/((b**3)**3))   (((f/(b**3))**3)/e)
21  0.500000     0.0   ((d/a)/((b**3)**3))    ((((c/b)/b)/b)**3)
22  0.500000     0.0   ((d/a)/((b**3)**3))   ((c/((b+b)**3))**3)
23  0.500000     0.0   ((d/a)/((b**3)**3))  ((c**3)/((b**3)**3))
24  0.500000     0.0   (((f/e)/(b**3))**3)   (c/((f*(b**3))**2))
25  0.500000     0.0   ((((1+d)/b)**3)**3)   ((((c/b)**3)/f)**3)
26  0.500000     0.0   ((1+f)/((b**3)**3))   ((((c/b)**3)/b)**3)
27  0.500000     0.0   ((c/((b**3)**3))*d)   ((((c/b)**3)/b)**3)
28  0.500000     0.0   ((1+d)/((b**3)**3))   ((((c/b)/b)**2)**3)
29  0.500000     0.0   ((1+d)/((b**3)**3))   ((((c/b)/b)**3)**2)
30  0.495455     0.0   (((f/a)/(b**3))**3)   (((c/(b**3))**3)/f)
31  0.495455     0.0   (d/((a*(b**3))**3))   (((c/e)/(b**3))**3)
32  0.495455     0.0   (((f/(b**3))**3)/e)   (((c/(b**3))**2)/f)
33  0.495455     0.0   (((c/f)/(b**3))**3)   (((c/(b**3))**3)/b)
34  0.495455     0.0   (f/(((b*b)**2)**3))   ((((c/b)/b)**3)**3)
35  0.495455     0.0   ((d+f)/((b**3)**3))   ((((c/b)/b)**3)**3)
36  0.495455     0.0   ((d/a)/((b**3)**3))   (e/(((b**3)/c)**3))
37  0.495455     0.0   ((d+f)/((b**3)**3))   (((c/d)/(b**3))**3)
38  0.495455     0.0   ((d/a)/((b**3)**3))   ((((c/b)**2)/f)**3)
39  0.495455     0.0   ((d/a)/((b**3)**3))   (e*((c/(b**3))**3))
40  0.495455     0.0   (f/(((b*b)**3)**2))   ((((c/b)/b)**3)**3)
41  0.495455     0.0   ((1+f)/((b**3)**3))   ((((c/b)/b)**3)**3)
42  0.495455     0.0   ((1+f)/((b**3)**3))   ((((c/b)/b)**2)**3)
43  0.495455     0.0   ((1+f)/((b**3)**3))   ((((c/b)/b)**3)**2)
44  0.495455     0.0   (((f/e)/(b**3))**3)    ((((c/b)/b)**3)/f)
45  0.495455     0.0   ((((1+d)/b)**3)**3)   (((c/(b**3))**3)/e)
46  0.495455     0.0   ((((f/b)**3)/e)**3)   (((c/a)/(b**3))**2)
47  0.495455     0.0   (d*(((1/b)**3)**3))   ((((c/b)**3)/f)**3)
48  0.495455     0.0       (d/((b**3)**3))   ((((c/b)**3)/f)**3)
49  0.495455     0.0   (d/(((b+b)**3)**3))   ((((c/b)**3)/f)**3)