# How to use
Explains how it is used in classification questions.

## install
Run the following code in the environment where you want to INSTALL nb_sisso

In [2]:
#!pip install git+https://github.com/souno1218/nb_sisso.git

## Data preparation

First, create (random) data.   
At this time, the initial features are `a~f` with 6 types (`n_features=6`), the number of samples is 220 (`n_samples=220`) and the target variable is `target`.   
The target variable is also binary and `[True,False]`.

In [3]:
import numpy as np
import pandas as pd
rng = np.random.default_rng()
x=rng.random((6,220))
y=rng.choice((True,False),220)
columns=[f"{chr(i + 97)}" for i in range(x.shape[0])]
index=[f"sample_{i}" for i in range(x.shape[1])]
df=pd.DataFrame(x.T,columns=columns,index=index)
df["target"]=y
df.head()

                 a         b         c         d         e         f  target
sample_0  0.339269  0.115281  0.548645  0.889588  0.350939  0.401582   False
sample_1  0.772770  0.738557  0.570823  0.674099  0.512062  0.449124   False
sample_2  0.956897  0.982367  0.301842  0.778214  0.359940  0.647940    True
sample_3  0.378307  0.061617  0.308011  0.032697  0.631930  0.223087    True
sample_4  0.710007  0.445686  0.392497  0.933997  0.513576  0.398541    True

Let the system of units be `{a: ‘m/s’, b: ‘m^2’, c: ‘m/s^2’, d: ‘a.u.’, e: ‘m’, f: ‘a.u.’}` respectively.   
Since there are two unit systems at this time, create an ndarray whose shape is `(n_features,2)` as follows.   
At this time, dtype must be int64.

In [4]:
units=np.zeros((x.shape[0],2),dtype="int64")
units[0,0] = 1  # a:    "m"
units[0,1] = -1 # a:   "/s"
units[1,0] = 2  # b:  "m^2"
units[1,1] = 0  # b: "no s"
units[2,0] = 1  # c:    "m"
units[2,1] = -2 # c: "/s^2"
units[3,0] = 0  # d: "no m"
units[3,1] = 0  # d: "no s"
units[4,0] = 1  # e:    "m"
units[4,1] = 0  # e: "no s"
units[5,0] = 0  # f: "no m"
units[5,1] = 0  # f: "no s"
units_df=pd.DataFrame(units.T,columns=columns,index=["m","s"])
units_df

   a  b  c  d  e  f
m  1  2  1  0  1  0
s -1  0 -2  0  0  0

The SHAPE of each array should be looked at.

In [5]:
print(f"x.shape={x.shape}, y.shape={y.shape}, units.shape={units.shape}")

x.shape=(6, 220), y.shape=(220,), units.shape=(6, 2)

## SIS

Determine which operator to use. The following can be used.   
`["+","-","*","/","*-1","**-1","**2","sqrt","| |","**3","cbrt","**6","exp","exp-","log","sin","cos"]`

In [6]:
operators_to_use=["+","-","*","/","**2","| |","**3"]

Determine the model_score: we have made various ones for binary classification, but no multi-level classification or regression at the moment.   
If you know python, you can create an original one with some ease, as long as it takes only `x,y` as an argument and returns two float64 values like above.

In [7]:
from nb_sisso.model_score_1d import Hull_1d
model_score=Hull_1d

Run SIS. You can then set `is_use_1` to include `np.ones(n_samples)` as an initial feature.   
Even if `is_use_1 = True`, there is no need to add `np.ones(n_samples)` to `x`.   
In this case, the number of saves is 5000 (`how_many_to_save=5000`), the maximum number of operators is 4 (`max_n_op=4`) and `is_use_1=True`.   
The first time it is run, it is compiled, so it is slow to start working.   
There are several optional arguments, see nb_SO.py.   

Translated with www.DeepL.com/Translator (free version)

In [8]:
from nb_sisso import SIS
score,eq=SIS(x,y,model_score=model_score,units=units,how_many_to_save=5000,is_use_1=True,max_n_op=4,operators_to_use=operators_to_use)

2024-11-06 17:28:31,201 SIS [INFO] : numba=0.60.0, numpy=2.0.2
2024-11-06 17:28:31,202 SIS [INFO] : OPT=_OptLevel(3), THREADING_LAYER=default
2024-11-06 17:28:31,202 SIS [INFO] : USING_SVML=False, ENABLE_AVX=True, DISABLE_JIT=0
2024-11-06 17:28:31,202 SIS [INFO] : SIS
2024-11-06 17:28:31,203 SIS [INFO] : num_threads=8, how_many_to_save=5000,
2024-11-06 17:28:31,203 SIS [INFO] : how_many_to_save_per_1_core=5000,
2024-11-06 17:28:31,203 SIS [INFO] : max_n_op=4, model_score=Hull_1d,
2024-11-06 17:28:31,204 SIS [INFO] : x.shape=(6, 220), is_use_1=True
2024-11-06 17:28:31,204 SIS [INFO] : use_binary_op=[-1, -2, -3, -4],
2024-11-06 17:28:31,204 SIS [INFO] : use_unary_op=[-7, -9, -10]
2024-11-06 17:28:31,205 SIS [INFO] : units=[ 1 -1] , [2 0] , [ 1 -2] , [0 0] , [1 0] , [0 0]
2024-11-06 17:28:31,205 SIS [INFO] : compiling
2024-11-06 17:28:58,388 SIS [INFO] : END, compile
2024-11-06 17:28:58,388 SIS [INFO] :   n_op=1
2024-11-06 17:28:58,588 SIS [INFO] :     binary_op n_op1:n_op2 = 0:0,  loop:49
2024-11-06 17:28:58,591 SIS [INFO] :       time : 0:00:00.002564
2024-11-06 17:28:58,667 SIS [INFO] :     unary_op,  loop:7
2024-11-06 17:28:58,668 SIS [INFO] :       time : 0:00:00.001370
2024-11-06 17:28:58,669 SIS [INFO] :     END, time=0:00:00.280195
2024-11-06 17:28:58,669 SIS [INFO] :   n_op=2
2024-11-06 17:28:58,669 SIS [INFO] :     binary_op n_op1:n_op2 = 0:1,  loop:532
2024-11-06 17:28:58,675 SIS [INFO] :       time : 0:00:00.005637
2024-11-06 17:28:58,675 SIS [INFO] :     binary_op n_op1:n_op2 = 1:0,  loop:532
2024-11-06 17:28:58,680 SIS [INFO] :       time : 0:00:00.005028
2024-11-06 17:28:58,681 SIS [INFO] :     unary_op,  loop:76
2024-11-06 17:28:58,684 SIS [INFO] :       time : 0:00:00.002894
2024-11-06 17:28:58,684 SIS [INFO] :     END, time=0:00:00.015427
2024-11-06 17:28:58,685 SIS [INFO] :   n_op=3
2024-11-06 17:28:58,685 SIS [INFO] :     binary_op n_op1:n_op2 = 0:2,  loop:5537
2024-11-06 17:28:58,700 SIS [INFO] :       time : 0:00:00.015101
2024-11-06 17:28:58,700 SIS [INFO] :     binary_op n_op1:n_op2 = 1:1,  loop:5776
2024-11-06 17:28:58,711 SIS [INFO] :       time : 0:00:00.010858
2024-11-06 17:28:58,712 SIS [INFO] :     binary_op n_op1:n_op2 = 2:0,  loop:5537
2024-11-06 17:28:58,730 SIS [INFO] :       time : 0:00:00.017875
2024-11-06 17:28:58,730 SIS [INFO] :     unary_op,  loop:791
2024-11-06 17:28:58,738 SIS [INFO] :       time : 0:00:00.007028
2024-11-06 17:28:58,738 SIS [INFO] :     END, time=0:00:00.053326
2024-11-06 17:28:58,738 SIS [INFO] :   n_op=4
2024-11-06 17:28:58,738 SIS [INFO] :     binary_op n_op1:n_op2 = 0:3,  loop:68061
2024-11-06 17:28:58,853 SIS [INFO] :       time : 0:00:00.114485
2024-11-06 17:28:58,853 SIS [INFO] :     binary_op n_op1:n_op2 = 1:2,  loop:60116
2024-11-06 17:28:58,947 SIS [INFO] :       time : 0:00:00.093810
2024-11-06 17:28:58,948 SIS [INFO] :     binary_op n_op1:n_op2 = 2:1,  loop:60116
2024-11-06 17:28:59,011 SIS [INFO] :       time : 0:00:00.062575
2024-11-06 17:28:59,011 SIS [INFO] :     binary_op n_op1:n_op2 = 3:0,  loop:68061
2024-11-06 17:28:59,154 SIS [INFO] :       time : 0:00:00.142951
2024-11-06 17:28:59,155 SIS [INFO] :     unary_op,  loop:9723
2024-11-06 17:28:59,218 SIS [INFO] :       time : 0:00:00.063182
2024-11-06 17:28:59,218 SIS [INFO] :     END, time=0:00:00.480323
2024-11-06 17:28:59,222 SIS [INFO] : total time=0:00:00.833259

There are two return values, `score,eq`. The shape of `score` is `(how_many_to_save,2)`, corresponding to `eq`.   
The dim2 is 2 because there are two `score`s.   
The shape of `eq` is `(how_many_to_save,2*max_n_op+1)`, which is an array of formulas and cannot be read as such.   
It can be read by putting it into the `decryption` function.

In [9]:
from nb_sisso.utils import decryption
decryption(eq[0])

'((f-((f+f)**2))*e)'

In [10]:
df_SIS_ans=pd.DataFrame()
str_eq=[decryption(eq[i]) for i in range(eq.shape[0])]
df_SIS_ans["score1"]=score[:,0]
df_SIS_ans["score2"]=score[:,1]
df_SIS_ans["str_eq"]=str_eq
df_SIS_ans.head()

     score1    score2              str_eq
0  0.077273 -0.995885  ((f-((f+f)**2))*e)
1  0.077273 -0.999921  ((f+((f+f)**2))*e)
2  0.077273 -1.000000  (e/(((1+f)/f)**3))
3  0.077273 -1.000000  (e*((f/(1+f))**3))
4  0.077273 -1.000000  ((((1+f)/f)**3)/e)

## SO

All combinations of two of the `how_many_to_save` SIS results are done and the one with the highest score is chosen.

Create features for SO from the SIS results: put the `x` used in SIS and the SIS return value `eq` into `eq_list_to_num`, which will return the features calculated according to `eq`.   
In SIS, the features need to be a list, so change them to a list.

In [11]:
from nb_sisso.utils import eq_list_to_num
X=eq_list_to_num(x,eq)
list_x=[X]

Determine the model_score: we have made various ones for binary classification, but no multi-level classification or regression at the moment.

In [12]:
from nb_sisso.model_score_2d import Hull_2d
model_score=Hull_2d

If you know python, you can create an original one with some ease, as long as it takes only `x,y` as an argument and returns two float64 values like above.   
The two return values are called score1 and score2 respectively, and are sorted by score1 (in increasing order), with the one with the higher score2 being superior to the one with the same score1.

In [13]:
one_X=X[[0,1]].T
print(one_X.shape)
model_score(one_X,y)

(220, 2)

(0.0, -inf)

Run SO. See nb_SO.py for the detailed role of `which_arr_to_choose_from`.   
The `combination_dim` is how many combinations to choose from the `how_many_to_save` pieces.   
There are several optional arguments, see nb_SO.py.

In [14]:
from nb_sisso import SO
score_list,index_list=SO(list_x,y,model_score=model_score,which_arr_to_choose_from={1:0,2:0},combination_dim=2)

2024-11-06 17:29:04,008 SO [INFO] : numba=0.60.0, numpy=2.0.2
2024-11-06 17:29:04,009 SO [INFO] : OPT=_OptLevel(3), THREADING_LAYER=default
2024-11-06 17:29:04,009 SO [INFO] : USING_SVML=False, ENABLE_AVX=True, DISABLE_JIT=0
2024-11-06 17:29:04,009 SO [INFO] : SO
2024-11-06 17:29:04,009 SO [INFO] : num_threads=8, how_many_to_save=50,
2024-11-06 17:29:04,009 SO [INFO] : combination_dim=2, model_score=Hull_2d,
2024-11-06 17:29:04,009 SO [INFO] : which_arr_to_choose_from={1: 0, 2: 0}
2024-11-06 17:29:04,010 SO [INFO] : loop=12497500
2024-11-06 17:29:04,010 SO [INFO] : compiling
2024-11-06 17:29:10,716 SO [INFO] : END, compile
2024-11-06 17:29:20,726 SO [INFO] :     488024/12497500  0:00:10.009447 : 0:04:06.316192
2024-11-06 17:29:30,757 SO [INFO] :     951900/12497500  0:00:20.039879 : 0:04:03.063796
2024-11-06 17:29:40,775 SO [INFO] :    1389403/12497500  0:00:30.058563 : 0:04:00.314317
2024-11-06 17:29:50,792 SO [INFO] :    1812447/12497500  0:00:40.075138 : 0:03:56.257928
2024-11-06 17:30:00,822 SO [INFO] :    2202459/12497500  0:00:50.105074 : 0:03:54.208124
2024-11-06 17:30:10,852 SO [INFO] :    2643424/12497500  0:01:00.135504 : 0:03:44.171312
2024-11-06 17:30:20,872 SO [INFO] :    3004800/12497500  0:01:10.148458 : 0:03:41.611511
2024-11-06 17:30:30,907 SO [INFO] :    3385624/12497500  0:01:20.190223 : 0:03:35.819408
2024-11-06 17:30:40,917 SO [INFO] :    3806731/12497500  0:01:30.200444 : 0:03:25.927664
2024-11-06 17:30:50,933 SO [INFO] :    4273558/12497500  0:01:40.214410 : 0:03:12.850429
2024-11-06 17:31:00,949 SO [INFO] :    4722273/12497500  0:01:50.232251 : 0:03:01.497506
2024-11-06 17:31:10,984 SO [INFO] :    5160367/12497500  0:02:00.266723 : 0:02:50.998098
2024-11-06 17:31:20,991 SO [INFO] :    5600290/12497500  0:02:10.274483 : 0:02:40.443560
2024-11-06 17:31:31,004 SO [INFO] :    6030815/12497500  0:02:20.287359 : 0:02:30.426461
2024-11-06 17:31:41,015 SO [INFO] :    6470419/12497500  0:02:30.297908 : 0:02:19.999846
2024-11-06 17:31:51,023 SO [INFO] :    6898662/12497500  0:02:40.306471 : 0:02:10.102034
2024-11-06 17:32:01,036 SO [INFO] :    7302921/12497500  0:02:50.319033 : 0:02:01.148192
2024-11-06 17:32:11,062 SO [INFO] :    7738950/12497500  0:03:00.344789 : 0:01:50.890973
2024-11-06 17:32:21,082 SO [INFO] :    8125278/12497500  0:03:10.365250 : 0:01:42.435773
2024-11-06 17:32:31,094 SO [INFO] :    8546036/12497500  0:03:20.377072 : 0:01:32.649128
2024-11-06 17:32:41,104 SO [INFO] :    8959620/12497500  0:03:30.387410 : 0:01:23.075556
2024-11-06 17:32:51,126 SO [INFO] :    9361415/12497500  0:03:40.409266 : 0:01:13.837363
2024-11-06 17:33:01,140 SO [INFO] :    9779505/12497500  0:03:50.423349 : 0:01:04.041024
2024-11-06 17:33:11,146 SO [INFO] :   10204134/12497500  0:04:00.429547 : 0:00:54.036232
2024-11-06 17:33:21,162 SO [INFO] :   10598024/12497500  0:04:10.442632 : 0:00:44.886648
2024-11-06 17:33:31,177 SO [INFO] :   11012763/12497500  0:04:20.460498 : 0:00:35.115197
2024-11-06 17:33:41,189 SO [INFO] :   11445385/12497500  0:04:30.471671 : 0:00:24.863061
2024-11-06 17:33:51,211 SO [INFO] :   11847401/12497500  0:04:40.494262 : 0:00:15.391480
2024-11-06 17:34:01,266 SO [INFO] :   12267858/12497500  0:04:50.549218 : 0:00:05.438790
2024-11-06 17:34:07,396 SO [INFO] : END : time=0:04:56.679188
2024-11-06 17:34:07,397 SO [INFO] : best : score=[ 1.00000000e+00 -2.72216877e-10],index=[4785 4205]

The return values are score and index, where index is the index of the incoming list_x.

In [15]:
arr_columns=np.array([decryption(eq[i]) for i in range(eq.shape[0])])
df_ans=pd.DataFrame(columns=["score1","score2","data_x","data_y"])
df_ans["score1"]=score_list[:,0]
df_ans["score2"]=score_list[:,1]
df_ans["data_x"]=arr_columns[index_list[:,0]]
df_ans["data_y"]=arr_columns[index_list[:,1]]
df_ans

      score1        score2                 data_x                 data_y
0   1.000000 -2.722169e-10     ((f/((d/f)-f))**2)     ((d/((f*f)-d))**2)
1   1.000000 -1.257615e-07     (d/(((d/f)-f)**2))     ((d/((f*f)-d))**2)
2   0.736364 -4.344731e-16     ((f/((d/f)-f))**2)  (d/np.abs(((f*f)-d)))
3   0.736364 -4.344731e-16     ((f/((d/f)-f))**2)  np.abs((d/((f*f)-d)))
4   0.736364 -4.449938e-10     (d/(((d/f)-f)**2))  (d/np.abs(((f*f)-d)))
5   0.736364 -4.449938e-10     (d/(((d/f)-f)**2))  np.abs((d/((f*f)-d)))
6   0.722727 -2.009835e+08  np.abs(((d/(1-f))-1))    (((d/(1-f))**3)**3)
7   0.718182 -9.998029e-01     (((d/(1-f))-1)**2)    (((d/(1-f))**3)**3)
8   0.713636 -1.147325e+00  np.abs((((1-f)-f)*f))      ((1/((1+f)+f))+f)
9   0.713636 -1.147325e+00  (f*np.abs(((1-f)-f)))      ((1/((1+f)+f))+f)
10  0.645455 -1.666956e-06     (f-((f/(1-f))**2))     (f-(((f*f)+f)**3))
11  0.572727 -5.545500e-01    (d-((1/(f**3))**3))      ((1/((1+f)+f))+f)
12  0.572727 -5.545500e-01    (d-(((1/f)**3)**3))      ((1/((1+f)+f))+f)
13  0.545455 -9.996144e-01     (f*(((f*f)-1)**3))    (f+(((d*f)**3)**3))
14  0.518182 -7.781468e-01    (d-((1/(f**3))**3))     (f+((1/(1+f))**2))
15  0.518182 -7.781468e-01    (d-(((1/f)**3)**3))     (f+((1/(1+f))**2))
16  0.518182 -7.781468e-01    (d-((1/(f**3))**3))     ((1/((1+f)**2))+f)
17  0.518182 -7.781468e-01    (d-(((1/f)**3)**3))     ((1/((1+f)**2))+f)
18  0.518182 -9.998195e-01     ((((1-f)-f)*f)**2)    (f*(((1-f)**3)**3))
19  0.509091 -1.000000e+00     (((d/(1-f))-1)**2)    ((((1-f)/d)**3)**3)
20  0.463636 -5.360118e-05     ((((d/f)-f)/f)**2)     ((1/(d+f))/(f**3))
21  0.459091 -1.487640e+00    (d-((1/(f**3))**3))     (f+((1/(1+f))**3))
22  0.459091 -1.487640e+00    (d-((1/(f**3))**3))     ((1/((1+f)**3))+f)
23  0.459091 -1.487640e+00    (d-(((1/f)**3)**3))     ((1/((1+f)**3))+f)
24  0.459091 -1.487640e+00    (d-(((1/f)**3)**3))     (f+((1/(1+f))**3))
25  0.454545 -5.360118e-05     ((((d/f)-f)/f)**2)     (((1/f)**3)/(d+f))
26  0.450000 -2.199548e-01    (d-((1/(f**3))**3))  np.abs((((1-f)-f)-f))
27  0.450000 -2.199548e-01    (d-(((1/f)**3)**3))  np.abs((((1-f)-f)-f))
28  0.450000 -9.703841e-01    (f-((f+(f**3))**2))    (d-((1/(f**3))**3))
29  0.450000 -9.703841e-01    (f-((f+(f**3))**2))    (d-(((1/f)**3)**3))
30  0.450000 -9.703841e-01    (f-((f+(f**3))**2))    ((1/((f**3)**3))-d)
31  0.440909 -1.653441e-16     ((((e/f)-e)/f)**2)     ((e/((f+f)**2))-e)
32  0.436364 -1.000000e+00    ((e/(1-(f**3)))**3)    ((1-f)/((e**3)**3))
33  0.436364 -1.545006e+04    ((e/(1-(f**3)))**2)    ((1-f)/((e**3)**3))
34  0.431818 -1.950063e-01      ((f/((1/f)-f))-f)    ((1/((f**3)**3))-d)
35  0.431818 -1.014115e+00   ((((e*f)**3)**3)**3)     (((d*(d**3))-f)*e)
36  0.431818 -1.248716e+00    (f-((1+(f**3))**3))     (f*(((f*f)-1)**3))
37  0.427273 -9.427088e-19   ((d*((f**3)**3))**3)     (f-(((f/d)-f)**3))
38  0.427273 -5.821348e-05     ((((d/f)-f)/f)**2)     (((1/d)/(f**3))+d)
39  0.427273 -1.005027e+00   ((((e*f)**3)**2)**2)     (((d*(d**3))-f)*e)
40  0.427273 -1.005027e+00   ((((e*f)**2)**2)**3)     (((d*(d**3))-f)*e)
41  0.427273 -1.005027e+00   ((((e*f)**2)**3)**2)     (((d*(d**3))-f)*e)
42  0.427273 -1.008830e+00   ((((e*f)**2)**3)**3)     (((d*(d**3))-f)*e)
43  0.427273 -1.008830e+00   ((((e*f)**3)**3)**2)     (((d*(d**3))-f)*e)
44  0.427273 -1.008830e+00   ((((e*f)**3)**2)**3)     (((d*(d**3))-f)*e)
45  0.422727 -5.154251e-02     (((d/(1-f))-d)**3)      (f/(((1-f)/d)-f))
46  0.422727 -2.733508e+00      ((((1/d)+d)/e)/f)    (d*(((e*f)**3)**3))
47  0.418182 -2.673973e-20     ((((d/f)-f)/f)**2)     (((e/(f**3))-e)/b)
48  0.418182 -2.003192e-18   ((d*((f**3)**3))**2)     (f-(((f/d)-f)**3))
49  0.418182 -3.886264e-09    (((e/(1-f))**3)**3)     (e/(((e*f)+e)**3))